<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <div class="header">
    <h1>
        <img src="../assets/pixelturtle.png" alt="turtle" style="width:80px;height:80px;">
      DRAW ANYTHING BELOW!
       <img src="../assets/pixelturtle.png" alt="turtle" style="width:80px;height:80px;">
    </h1>
   
  </div>
  

  <h2>Pick a color!</h2>
  <p>
    <app-color-button></app-color-button>
  </p>
  <p>
    <app-play-game></app-play-game>
  </p>


</div>

<router-outlet></router-outlet>